.portfolioImg {
	width: 100%;
	height: 25vw;
	object-position: left top;
	object-fit: cover;
}
footer {
	background-color: #ff3cac;
	background-image: linear-gradient(225deg,  #2b86c5 0%, #784ba0 50%,#ff3cac 100%);
}

.zoom:hover {
	transform: scale(1.5);
	transition: transform .2s ease-in-out;
}
